name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    name: jdk-${{ matrix.java }} scala-${{ matrix.scala }} platform-${{ matrix.platform }} tests
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        java: [8, 11]
        scala: [2.11.12, 2.12.11, 2.13.1]
        platform: ["jvm", "js-0.6.x", "js-1.x"]

        include:
          - platform: jvm
            java: "*"
            scala: "*"
            
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v7
        with:
          java-version: "adopt@1.${{ matrix.java }}"
          
      - name: Cache SBT Coursier directory
        uses: actions/cache@v1
        with:
          path: ~/.cache/coursier/v1
          key: ${{ runner.os }}-coursier-${{ hashFiles('**/*.sbt') }}
          restore-keys: |
            ${{ runner.os }}-coursier-

      - name: Cache SBT directory
        uses: actions/cache@v1
        with:
          path: ~/.sbt
          key: |
            ${{ runner.os }}-sbt-${{ hashFiles('project/build.properties') }}-${{ hashFiles('project/plugins.sbt') }}
          restore-keys: ${{ runner.os }}-sbt-
          
      - name: Run Tests for Java ${{ matrix.java }}, Scala ${{ matrix.scala }}, JS ${{matrix.scalaJS:-default}}, ${{ matrix.command }}
        run: |
          ./.github/scripts/build
        env:
          SCALA_VERSION: ${{ matrix.scala }}
          SCALAJS_VERSION: ${{ matrix.scalaJS }}
          PLATFORM: ${{ matrix.platform }}
